/* .......................................Header..............................*/
/* Mettre une image de fond avec le texte par dessus */
header{
  background-image:url("../img/header.jpg");
  /* background-size cover pour couvrir toute la page */
  background-size: cover;
  /* Taille de l'image en hauteur au niveau de la page */
  height: 410px;
  /* capacité d'un élément flexible à modifier ses dimensions afin de remplir l'espace */
  display: flex;
  /* indique la façon dont l'espace doit être réparti entre et autour des éléments */
  justify-content: center;
  /* Center verticalement */
  align-items: center;
  /* Taille de la police */
  font-size: 40px;
}
/* ......................................Navbar.............................. */
ul{
/* Pour enlever les puces devant les différents items de la barre de navigation */
list-style-type: none;
display: flex;
/* spac-around pour espacer les mots de façon égal */
justify-content: space-around;
font-size: 25px;
/* Couleur de fond de la barre de navigation et un dégradé de couleur avec linear */
background: linear-gradient(#F09A1E,#F8C970);
}
a{
  /* suppression du texte souligné */
  text-decoration: none;
  /* texte en noir */
  color: #000000;
}
/* sur grand écran (supérieur à 992px) l'icone est masqué */
#navIcon{
  display: none;
}
/* .......................................Présentation....................... */
#presentation{
  padding: 30px;
  background-color: #F09A1E;
}
#blockLine{
  display: flex;
}
img{
  width: 75%;
}
.block{
  text-align: center;
  margin: 15px 15px;
}
p{
  text-align: justify;
}
/* ....................................Mediaquery............................ */
/* Pour une largeur d'écran inférieure à 992px la ligne de bloc ne sera pas alignée horizontalement */
@media screen and (max width:992px){
  #blockLine{
    /* Affichage en colonne plutôt qu'en ligne au niveau du texte */
    flex-direction: column;
  }
}
/* Pour une largeur d'écran inférieure à 680px */
@media screen and (max-width:680px){
  /* on masque les éléments de la navbar */
  a, form{
    display: none;
  }
  /* on affiche l'icone du menu-burger */
  #navIcon{
    display: block;
  }
}
